
 .banner-image{ padding-top: 75px;    
              padding-bottom: 50px; 
              text-align: center;     
              color: #f8f8f8; 
              background: url(intro-bg_1.jpg) no-repeat center ; 
              background-size: cover;
}

.banner-content{
    position:relative; 
    padding-top: 6%; 
    padding-bottom: 6%; 
    margin-top: 12%; 
    margin-bottom: 12%; 
    background-color: rgba(0, 0, 0, 0.7); 
    max-width: 660px;
    overflow: hidden;
    
}

.thumbnail img{
    max-height: 150px; 
}
main {
    min-height: 100vh;
}

footer{
    padding: 10px 0; 
    background-color: #101010; 
    color:#9d9d9d; 
    bottom: 0; 
    width: 100%; }
.row_style{margin-top: 70px;
}
 h2{font-weight: bolder; 
 }
 .jumbotron_style{margin-top: 70px;
 }
 .table_style{margin-top: 70px;
 }
  h4{font-weight: bolder;
  }
 .container_style{margin-top: 80px;
 }

 .add-to-cart {
    margin: 0;
    background-color: #337ab7;
    color: #ffffff;
    border: 1px solid cyan;
    border-radius: 4px;
    outline: none;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
 }
 .padding-20 {
     padding: 20px;
 }
         
